@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

form#chat-form{
		margin-top: 50vh;
}
div.card-header{
	background-color:#dde5ff;
}
ul.active-chat{
	list-style-type: none;
	background-color: #dde5ff;
}
span.active-chat{
	font-size:12px;
	}
.toolbar a{
   margin-left:5px;
   margin-right: 5px;
}
img#delete{
   float:right;
   margin-right: 19px;
   margin-top: 20px;
   width: 22px;
   height: 22px;
   cursor: pointer;
}
