<!DOCTYPE html>
<html ng-app="chatApp">
    <head>
        <meta charset="UTF-8">
        <title>ChatEngine Simple Example</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="app.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script src="node_modules/chat-engine/dist/chat-engine.js" type="text/javascript"></script>
        <script src="node_modules/chat-engine-random-username/dist/chat-engine-random-username.js"></script>
        <script src="node_modules/chat-engine-online-user-search/dist/chat-engine-online-user-search.js"></script>
        <script src="plugin.js"></script>
        <script src="chatApp.js"></script>
    </head>
    <body ng-app="chatApp">
    <div class="container-fluid" ng-controller="chatAppController">
        <div class="row">
            <div class="col-md-6">
               <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ChatEngine</h4>
                    <p class="card-text">Your are {{me.state.username}} with uuid {{me.uuid}}</p>
                </div>
                <div class = "card-block" id="instructions">
                    <h5>Online Users</h5>
                    <p class="card-text">Click on a user you want to open a chatroom with. Once inside a chatroom, you can invite more users to join!</p>
                </div>
                <ul id="online-list" class="list-group list-group-flush">
                    <li id="new_chat_select_list" class="list-group-item" ng-repeat="(uuid, user) in chat.users" ng-hide="user.hideWhileSearch" ng-click="newChat(user)" ng-mouseover="hoverActive=true" ng-mouseleave="hoverActive=false" ng-style="hoverActive ? {'background-color': '#dde5ff'} : {}">
                        <a href="">{{user.state.username}} ({{user.uuid}})</a>
                    </li>
                </ul>
                <div class="card-block">
                    <form class="send-message" ng-submit="search()">
                        <div class="input-group">
                            <input id="usernameSearch" type="text" class="form-control message"
                                   placeholder="search username" ng-change="search()" ng-model="mySearch">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="loader" ng-if="loading"></div> -->
        <div class="col-md-6">
            <div id="chats" class="row" ng-repeat="chat in chats" ng-controller="chat">
                <div class="chat col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="col-sm-6">
                                <ul class="active-chat" >
                                <h3>Chat #{{$index + 1}}</h5>
                                <h6>Active users</h6>
                                <li ng-repeat="(uuid, user) in chat.users">
                                       <span class="active-chat">{{user.state.username}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 text-right">
                             <div class="toolbar">
                                <a href="" ng-click="leave($index)" class="close">x</a>
                                <a href="" ng-click="minimize()" class="close" ng-if="!chat.minimize">-</a>
                                <a href="" ng-click="maximize()" class="close" ng-if="chat.minimize">+</a>
                             </div>
                            </div>
                        </div>
                        <div class="card-block" ng-if="!chat.minimize">
                            <div>
                                <div ng-repeat="message in messages" ng-class="{'hide-username': message.sameUser, 'text-xs-right': !message.isSelf}">
                                    <p class="text-muted username">{{message.sender.state.username}}</p>
                                    <p ng-bind="message.timeToken | date:'MM/dd/yyyy'"></p>
                                    <p>{{message.data.text}}</p>
                                </div>
                            </div>
                            <p class="typing text-muted"></p>
                            <form class="send-message" ng-submit="sendMessage()" id="chat-form">     
                                <div class="input-group">
                                    <input id="usernameMessage"  ng-model="newMessage" type="text" class="form-control message" placeholder="Your Message..."></input>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Send</button>
                                    </span>

                                </div>
                            </form>
                        </div>
                        <div class="card-block" ng-if="!chat.minimize">
                            <h6>Add a user to this chat</h6>
                            <form ng-submit="searchFromGlobal()">
                                <div class="input-group">
                                    <input name="usernameSearchGlobal" type="text" class="form-control message"
                                           placeholder="Add User" ng-change="searchFromGlobal()"
                                           ng-model="mySearchFromGlobal">
                                </div>
                            </form>
                            <ul class="list-group list-group-flush online-list-sub">
                                <li class="list-group-item" ng-repeat="(uuid, user) in users">
                                    <a href="#" ng-click="invite(user)"> {{user.state.username}}</a>
                                </li>
                            </ul>
                        </div>    
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>